/* 

color used in html tags on front page 
color: #515152;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
}

.App {
  height: 100vh;
  width: 100vw;
}

/* header */

#header {
  position: fixed;
  color: #8a8a8a;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  z-index: -1;
}

/* figure out how to center it and still add effects */
.prev{
  position: fixed;
  height: 50px;
  left: 5%;
  top: calc(50% - 50px);
}

.prev:hover{
  transform: scale(1.3);
}


.next{
  position: fixed;
  height: 50px;
  right: 5%;
  top: calc(50% - 50px);
}

.back-list {
  position: fixed;
  top: 5%;
  left: 5%;
}

.hamburger{
  position: fixed;
  top: 5%;
  right: 5%;
}

/* front page */


#front-page {
  margin: 0 15%;
  height: 100%
}

.text-area {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.text-area h1{
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.text-area h1 span{
  color: #08fdd8;
}

.text-area h1:before{
  content: '<h1>';
  color: #515152;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1rem;
  letter-spacing: .1rem;
  position: absolute;
  top: -1.2rem;
  left: -1.2rem;
}

.text-area h1:after{
  content: '</h1>';
  color: #515152;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1rem;
  letter-spacing: .1rem;
  position: absolute;
  margin-top: 2.6rem;
  margin-left: 1rem;
}

.text-area h4{
  color: #8d8d8d;
  margin-bottom: 2rem;
}

.text-area a {
  text-transform: uppercase;
  text-decoration: none;
  color: #08fdd8;
  border: 1px solid #08fdd8;
  padding: .6rem 1.2rem;
  letter-spacing: .2rem;
}

.text-area a:hover {
  color: #222;
  background-color: #08fdd8;
}

.tags{
  position: absolute;
  font-size: 1rem;
  color: #515152;
  margin-left: 1rem;
  font-family: 'Cedarville Cursive', cursive;
}

.top-tags{
  top: 1.5rem
}

.bottom-tags{
  bottom: 3rem;
}

.bottom-tags span:nth-child(2){
  position: absolute;
  left: -1rem;
  margin-top: .2rem;
}
